@model List<Libary_System.Entities.ORM.Entities.Concrete.Category>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}



<div class="container mt-5">
    <div class="col-md-4">

        @using (Html.BeginForm("Index","Category",FormMethod.Get))
        {


            @Html.TextBox("p","",new{@class="form-control" })
            <button type="submit" class="btn btn-primary">Search</button>
        }


    </div>
    <h2>Category List</h2>
    <a href="/Category/CategoryAdd" class="btn btn-dark mb-3">Category Add</a>

    <table class="table table-bordered">
        <thead>

            <tr>

                <th>Category Name</th>
                <th>Add Date</th>
                <th>Update Date</th>
                <th>Add User</th>
                <th>Update User</th>
                <th>Status</th>
                <th></th>

            </tr>


        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>


                    <td>@item.CategoryName</td>
                    <td>@item.AddDate</td>
                    <td>@item.UpdateDate</td>
                    <td>@item.AddUser</td>
                    <td>@item.UpdateUser</td>
                    <td>@item.Status</td>
                    <td>
                        @Html.ActionLink("Delete", "Delete", "Category", new { id = item.ID }, new { @class = "btn btn-danger btn-sm" }) |
                        @Html.ActionLink("Update", "Update", "Category", new { id = item.ID }, new { @class = "btn btn-primary btn-sm" })
                    </td>






                </tr>

            }

        </tbody>







    </table>






</div>



