@model List<Libary_System.Entities.ORM.Entities.Concrete.Personel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<div class="container mt-5">

    <h2>Personel List</h2>
    <a href="/Personel/PersonelAdd" class="btn btn-dark mb-3">Personel Add</a>

    <table class="table table-bordered">
        <thead>

            <tr>

                <th>Personel Name</th>
                <th>Add Date</th>
                <th>Update Date</th>
                <th>Add User</th>
                <th>Update User</th>
                <th>Status</th>
                <th></th>

            </tr>


        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>


                    <td>@item.PersonalName</td>
                    <td>@item.AddDate</td>
                    <td>@item.UpdateDate</td>
                    <td>@item.AddUser</td>
                    <td>@item.UpdateUser</td>
                    <td>@item.Status</td>
                    <td>
                        @Html.ActionLink("Delete", "PersonelDelete", "Personel", new { id = item.ID }, new { @class = "btn btn-danger btn-sm" }) |
                        @Html.ActionLink("Update", "PersonelEdit", "Personel", new { id = item.ID }, new { @class = "btn btn-primary btn-sm" })
                    </td>






                </tr>

            }

        </tbody>







    </table>






</div>

